<div class="container">
  <div class="jumbo mt-4 p-5 bg-primary text-white text-center rounded">
    <h1>Alpha Blog</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information</p>
    <hr class="my-4">
    <h2 class="mt-2">Body Section</h2>
    <a role="button" href="#" class="btn btn-success btn-lg">Sign up!</a>
  </div>
</div>

<footer>
    <div class="footer fixed-bottom text-white text-center bg-dark pt-3">
        <p>Copyright 	&#9400; <%= link_to "Binyam T", "https://binyam-tegene.vercel.app/", class: "text-white" %> </p>
    </div>
</footer>