<div class="container">
  <div class="jumbo mt-4 p-5 bg-primary text-white text-center rounded">
    <h1>Alpha Blog</h1>
    <h4>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information</h4>
    <hr class="my-4">
    <h2 class="mt-2">Body Section</h2>
    <br />
    <a role="button" href="#" class="btn btn-success btn-lg">Sign up!</a>
  </div>
</div>